<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ow.push.baidu">

    <application>
        <receiver
            android:name=".OnApplicationCreateReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.OnApplicationCreate"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>